body{
    background-color: #2f2fa2;
}
.heads{
    text-align: center;
    margin-top: 5%;
    color: white;
    font-weight: bold;
}
.middle{
    margin-top: 5%;
    text-align: center;
}
.whi{
    color: white;
}